@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800');

:root {
    font-family: 'Montserrat', sans-serif;
    --main-text-color: #737373;
    scroll-behavior: smooth;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    --footer-background-color: #12283c;
    --footer-border-color: #374a5a;
    --footer-logo-text-color: #fff;
    --footer-subscribe-text-color: #3e5973;
    --footer-form-field-background-color:#2c4051;
    --footer-button-background-color:#0783f7;
    --footer-button-hover-color:#2395ff;
    --footer-button-hover-color-nav:#0a6ac4;
    --footer-follow-us: #fff;
    --footer-follow-us-title: #11283C;
    --footer-follow-us-join: #567491;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

a {
    text-decoration: none;
}